<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bbb-frontend.css' %}">
</head>
<body>
    <div class="box">
        <div class="chatContent">

        </div>
        <div class="streamContent">
            <video class="video-js">
                <source src="/hls/{{ session }}.m3u8">
            </video>
        </div>
    </div>
  <script src="https://vjs.zencdn.net/7.10.2/video.min.js"></script>
</body>
</html>