<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>{{ title }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'bbb-frontend.css' %}">
    <link href="https://vjs.zencdn.net/7.11.4/video-js.css" rel="stylesheet" />
    <script type="application/javascript" src="{% static 'responsive.js' %}"></script>
</head>
<body>
<script src="https://vjs.zencdn.net/7.11.4/video.min.js"></script>
    <div class="box">
        <div class="chatContent" id="chat">
            <div class="staticChatContent">
                {{ welcome_msg }}
            </div>
            <div class="viewerCountContent">
                <span id="viewers">0</span> Viewers
            </div>
            <div class="messageChatContent">
            </div>
            <div class="controlsChatContent">
                <label><textarea id="chatTextarea" rows="1"></textarea></label>
                <button id="chatSendButton"><img src="{% static 'img/send.svg' %}" alt="Send message"></button>
            </div>
        </div>
        <div class="chatToggle">
            <button onclick="toggleChat();" id="toggleButton">
                <img src="{% static 'img/chat.svg' %}" alt="Toggle Chat">
            </button>
        </div>
        <div class="streamContent" id="stream">
            <video id="my-video" class="video-js vjs-big-play-centered">
                <source src="/hls/{{ session }}.m3u8" type="application/vnd.apple.mpegurl">
                <p class="vjs-no-js">
                    To view this video please enable JavaScript, and consider upgrading to a web browser that
                    <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                </p>
             </video>
            <script>
                const player = videojs('my-video', {
                    fluid: true,
                    autoplay: "play",
                    preload: "auto",
                    controls: true,
                    liveui: true,
                    inactivityTimeout: 0,
                    errorDisplay: false,
                    poster: "{% static 'img/thumbnail.png' %}"
                });
            </script>
            <script src="{% static 'player.js' %}"></script>
            <script src="{% static 'chat.js' %}"></script>
        </div>
    </div>

<!--{% if debug %}
    <script>let chat; import("{% static 'chat.js' %}").then((module) => { chat = module; });</script>
{% else %}
    <script type="module" src="{% static 'chat.js' %}"></script>
{% endif %}-->
</body>
</html>
